FLASK_ENV=development
SECRET_KEY=minha_chave_super_secreta

POSTGRES_USER=usuario
POSTGRES_PASSWORD=senha
POSTGRES_DB=seubanco

URL_DATABASE_PROD=mysql+pymysql://root:root@127.0.0.1:3306/gerencie_db

JWT_SECRET=chave_secreta_do_JWT
JWT_ALGORITHM=algoritmo_secreto
JWT_EXPIRATION_HOURS=12
