# Variáveis para o Flask
FLASK_ENV=development
SECRET_KEY=minha_chave_super_secreta

# Variáveis para o Postgres
POSTGRES_USER=usuario
POSTGRES_PASSWORD=senha
POSTGRES_DB=seubanco

# URL de conexão para o Flask
URL_DATABASE_PROD=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

# Variáveis para o JWT
JWT_SECRET=chave_secreta_do_JWT
JWT_ALGORITHM=algoritmo_secreto